.THIS {
    text-align: center;
}

.THIS > p {
    font-size: 14px;
    color: #1F276A;
    margin: 4px 0;
}

.THIS img {
    min-height: 100px;
    max-height: 200px;
    max-width: 300px;
	width: 200px;
    height: auto;
    border-radius: 4px;
}

.THIS .isActivityLoading .slds-spinner_container {
   position: relative !important;
   top: 20px !important;
}

.THIS .slds-button{
    width: 200px !important;
    border-radius: 4px;
}